<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.cn" connectionString="Data Source=infraestructura;Initial Catalog=dbventas;User Id=sa;Password=referencia;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>