<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.cn" connectionString="Data Source=10.0.0.8\SQLEXPRESS;Initial Catalog=dbventas;Persist Security Info=True;User ID=sa;Password=alexander05"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>